* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s linear all;
}
body {
  background-color: rgb(105, 148, 189);
}
.dark {
  background: #464646;
  color: white;
}
.c {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}
.dark-btn {
  display: block;
}
.logo {
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
}
.logo-btn {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  position: relative;
  bottom: 20px;
}
.btn-img {
  width: 120px;
}
.btn-img-light {
  width: 90px;
  margin-bottom: 17px;
  transform: rotateY(180deg);
}

main {
  display: flex;
  justify-content: space-around;
  padding-bottom: 250px;
}
.sec {
  display: flex;
  width: 500px;
  justify-content: center;
}
.sec img {
  display: block;
}
.sec-img-dark {
  position: relative;
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 3000;
}
.sec-img-light {
  position: relative;
  transform: rotateY(180deg);
  animation-name: example;
  animation-duration: 10s;
  animation-iteration-count: 3000;
}
@keyframes example {
  0% {
    top: 0px;
  }
  50% {
    top: 300px;
  }
  100% {
    top: 0px;
  }
}
@keyframes examp {
  0% {
    border-radius: 100% 100% 0 0;
  }
  25% {
    border-radius: 50% 100% 0 0;
  }
  50% {
    border-radius: 50% 50% 0 0;
  }
  100% {
    border-radius: 100% 100% 0 0;
  }
}
footer {
  display: flex;
  justify-content: center;
}
.footer-l {
  background-color: green;
  border-radius: 100% 100% 0 0;
  padding-bottom: 110px;
  padding-top: 30px;
  animation-name: examp;
  animation-duration: 5s;
  animation-iteration-count: 3000;
  width: 500px;
}
.change-img {
  display: none !important;
}
.footer-img {
  position: relative;
  transform: rotateY(180deg);
  width: 80px;
  animation-name: exam;
  animation-duration: 50s;
  animation-iteration-count: 3000;
}
@keyframes exam {
  0% {
    left: 0;
  }
  25% {
    left: 300px;
  }
  50% {
    transform: rotateY(0);
  }
  100% {
    left: 0;
  }
}
